#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        hm: homerow-row {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW-MODS";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            bindings = <
&kp Q  &kp W  &kp E      &kp R     &kp T       &kp Y      &kp U     &kp I      &kp O    &kp P
&kp A  &kp S  &kp D      &kp F     &kp G       &kp H      &kp J     &kp K      &kp L    &kp SQT
&kp Z  &kp X  &kp C      &kp V     &kp B       &kp N      &kp M     &kp COMMA  &kp DOT  &kp SLASH
              &kp LCTRL  &kp LALT  &kp LSHIFT  &kp SPACE  &kp BSPC  &kp RET
            >;
        };

        bt_layer {
            bindings = <
&kp EXCL   &kp AT     &kp HASH   &kp DLLR   &kp PRCNT  &kp CARET  &kp AMPS  &kp STAR   &kp PIPE  &none
&kp GRAVE  &kp TILDE  &kp UNDER  &kp EQUAL  &none      &none      &none     &none      &none     &kp BSLH
&none      &none      &kp PLUS   &kp MINUS  &none      &none      &none     &kp COLON  &none     &kp SEMI
                      &none      &none      &none      &none      &none     &none
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
