#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {  
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                 &kp Q    &kp W          &kp E       &kp R       &kp T        &kp Y     &kp U            &kp I     &kp O    &kp P
                &kp A   &kp S          &kp D       &kp F       &kp G        &kp H     &kp J            &kp K     &kp L    &kp SQT
                &kp Z   &kp X         &kp C       &kp V       &kp B        &kp N     &kp M            &kp COMMA  &kp DOT  &kp SLASH
                                &kp LCTRL   &kp LALT  &kp LSHIFT     &kp SPACE  &kp BSPC  &kp RET      
        
            >;
        }; 
        
        bt_layer {
            bindings = <
               &kp EXCL    &kp AT      &kp HASH    &kp DLLR    &kp PRCNT   &kp CARET   &kp AMPS    &kp STAR    &kp PIPE    &none
                &kp GRAVE   &kp TILDE   &kp UNDER   &kp EQUAL   &none       &none        &none        &none        &none        &kp BSLH
                &none       &none       &kp PLUS    &kp MINUS   &none       &none       &none       &kp COLON   &none     &kp SEMI
                                        &none     &none      &none     &none      &none     &none
            >;
        };
    };
};
